
html, body, .app-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  font-family: "Helvetica Neue", sans-serif;
}

.sidebar {
  float: left;
  width: 20%;
  min-height: 100%;
}

.sidebar-heading {
  margin-top: 30px;
  text-align: center;
  padding: 50px;
}

.sidebar-heading h1, .sidebar-heading i {
  color: #2c3e50;
}

.sidebar-description {
  padding: 50px;
  text-align: center;
  line-height: 20px;
}

.content {
  float: left;
  width: 80%;
  min-height: 100%;
}

.map-container {
  min-height: 600px;
}

.graph-container {
  min-height: 25%;
}
