
html, body, .app-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  font-family: "Helvetica Neue", sans-serif;
}

.sidebar {
  float: left;
  width: 20%;
  min-height: 100%;
  background-color: #ecf0f1;
  /*-webkit-box-shadow: 5px 0px 0px 0px rgba(189,195,199,1);
  -moz-box-shadow: 5px 0px 0px 0px rgba(189,195,199,1);
  box-shadow: 5px 0px 0px 0px rgba(189,195,199,1);*/
}

.sidebar-heading {
  margin-top: 30px;
  text-align: center;
  padding: 30px;
}

.sidebar-heading a {
  text-decoration: none;
  color: #2c3e50;
}

.sidebar-heading h1 {
  color: #2c3e50 !important; 
}

.sidebar-heading a:hover, .sidebar-heading a:focus {
  color: #e74c3c;
}

.sidebar-description {
  padding: 10px;
  text-align: justify;
  line-height: 25px;
  margin-bottom: 50px;
}

.sidebar-footer {
  padding: 10px;
  text-align: left;
  line-height: 18px;
  color: #95a5a6;
  font-size: 12px;
}

.content {
  float: left;
  width: 80%;
  min-height: 100%;
}

.map-container {
  min-height: 600px;
}

.graph-container {
  min-height: 25%;
}
